<% if ( locals.message !='' ) { %>
    <div class="alert alert-danger col-sm-12">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>
            <%= locals.message %>
        </strong>
    </div>
    <% } %>

        <% if( locals.messages !='' && locals.messages !=undefined ){ %>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= locals.messages %>
            </div>
            <% }%>